<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">

    <link rel="icon" href="/img/favicon.png">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700" rel="stylesheet">

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/pure/0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

    <!-- Facebook Open Graph - Tells Facebook what to show when our webpage is shared. -->
    <meta property="og:url" content="scottylabs.org/crashcourse" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Crash Course" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:image" content="https://scottylabs.org/crashcourse/assets/img/cc-shareable-brand.png" />

    <!-- Schema.org JSON-LD tags, describes the organization to web crawlers -->
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Event",
      "description": "{{ site.description }}",
      "image": "https://scottylabs.org/crashcourse/assets/img/cc-shareable-brand.png",
      "name": "Crash Course",
      "alternateName": "CrashCourse",
      "startDate": "2017-01-28T13:00:00-05:00",
      "endDate": "2017-02-5T20:00:00-05:00",
      "organizer": {
        "@type": "Organization",
        "sameAs": "https://scottylabs.org"
      },
      "location": {
          "@type": "PostalAddress",
          "addressCountry": "USA",
          "addressLocality": "Pittsburgh",
          "addressRegion": "PA",
          "postalCode": "15213",
          "streetAddress": "Hamerschlag Dr",
          "name": "Wean Hall"
      },
      "sameAs": "https://www.facebook.com/events/197846834021500/",
      "url": "https://scottylabs.org/crashcourse"
    }
    </script>
</head>
