<header>
  <div class="pure-g">
    <div class="pure-u-1">
      <img class="pure-img" src="{{site.baseurl}}\assets\img\crashcourse-logo.png" alt="Crash Course Logo">
    </div>
  </div>
</header>

<div class ="nav-wrapper">

    <div class="nav">
      <div class="margin">
  	   <ul id="menu">
        {%for item in site.nav_pages%}
          <li>
            <a class = '{{item.url}}' href="#"><button class = "pure-button buttonStyle {{item.title | downcase}}">{{item.title}}</button></a>
          </li>
        {%endfor%}
      </ul>
    </div>
  </div>
</div>
