<header>

  <div class="pure-menu pure-menu-open pure-menu-horizontal">
    <span class="pure-menu-item">
      <a href="{{ site.baseurl }}/" class="pure-menu-link">
        <img class="icon-logo" src="{{ site.baseurl }}/assets/img/logo-red.png">
      </a>
    </span>
    <ul class="pure-menu-list">
      {% for p in site.nav_pages %}
      {% capture href %}{% if p.url %}{{ p.url }}{% else %}{{ site.baseurl }}/{{ p.title }}/{% endif %}{% endcapture %}
          <li class="pure-menu-item"><a class="pure-menu-link" href="{{ href }}">{{ p.title }}</a></li>
      {% endfor %}
    </ul>
  </div>

</header>
