/* Base */
/* ----------------------------------------------------------*/

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

strong {
  font-weight: 700;
  color: $text-dark;
}

html, body, .page-content .pure-g, .page-content .pure-u {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: $text;
}

@mixin color-mixin($color-base, $color-accent) {
  a {
    color: $color-accent;
    text-decoration: none;
  }

  a:hover {
    color: darken($color-accent, 10%);
  }

  a:active {
    text-decoration: underline;
  }

  border-bottom: 15px solid $color-base;
}

.page-content {
  .home {
    // white + pink on home page
    @include color-mixin(white, $custom-1-normal);
  }

  @for $i from 1 through length($nav-pages) {
    .#{nth($nav-pages, $i)} {
      // color-palette[i] + color-palette[i] on other pages
      @include color-mixin(nth($color-palette, $i), nth($color-palette, $i));
    }
  }
}

header {
  text-align: center;

  @for $i from 1 through length($color-palette) {
    // overrides pure-menu-selected
    li:nth-child(#{length($color-palette)}n+#{$i}),
    li:nth-child(#{length($color-palette)}n+#{$i}) {
      a {
        color: nth($color-palette, $i);

        &:hover {
          color: darken(nth($color-palette, $i), 10%);
        }
      }

      border-top: 3px solid nth($color-palette, $i);
    }
  }
}

.icon-logo {
  height: 30px;
  vertical-align: middle;
}

.hero-logo {
  text-align: center;

  margin-top: 50px;
  margin-bottom: 25px;
}

.hero-logo img{
  width: 75%;
}

.hero-logo + h2 {
  margin-top: 0;
}

// -- Pure overrides --
.pure-u {
  padding: 27px;
}

.pure-menu-horizontal {
  white-space: normal;
}

h1, h2, h6 {
  text-align: center;
}

h1 {
  font-size: 54px;
  line-height: 1.2;
}

h2 {
  margin-top: 1.5em;
  font-size: 36px;
  line-height: 1.2;
}

h3 {
  font-size: 26px;
  margin-top: 1em;
}

h4 {
  font-size: 20px;
  margin: 1em auto;

  &::before {
    content: "> ";
  }
}

h5 {
  font-size: 18px;
  margin-top: 0.5em;
  font-weight: normal;
  font-style: italic;
}

h6 {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 45px;
  line-height: 1.5;
}

h1 + h6,
h2 + h6 {
  margin-top: -1em;
}

section {
  margin: 9px 0px;
  padding: 18px 0px;
}

p {
  margin: 1em 0em;
}

.site-header {
  display: none;
}

h1 {
  margin-top: 4 * 27px;
}

.page-content {
  li {
    padding: initial;
  }

  ul {
    margin: 1em auto;
  }

  li {
    margin-bottom: 0.5em;
  }
}

code {
  font-family: "Menlo", Monaco, "Courier New", monospace;
  font-size: 16px;
  padding: 4px 6px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

h2 code {
  font-size: 34px;
}

.aside code {
  font-size: 12px;
}

pre {
  padding: 15px;

  & code {
    padding: 0;
    background: transparent;
    border-radius: 0;
  }
}

.highlight {
  border-radius: 4px;
}

.aside {
  color: #999;
  position: absolute;
  left: 75%;
  display: block;
  width: 20%;
  line-height: 18px;
  font-size: 14px;
  font-style: italic;
  border-left: 3px solid #bcbcbc;
  padding: 0px 9px;

  em {
    font-style: initial;
  }
}

/* When an aside is a div we need to subtract the newline between it and its parent paragraph. */
.aside ul {
  padding: 9px 0px 0px 18px;
  margin: 0px;
}

@media (max-width: 870px) {
  .aside {
    position: static;
    display: inline;
    margin: 0;
    padding: 0;
    border: none;
  }

  .aside:before {
    content: " [ ";
  }

  .aside:after {
    content: " ] ";
  }
}

footer {
  margin-top: 80px;
}

.full-width {
  width: 100%;
}

td, th {
  border: 1px solid transparent;
  padding: 6px;
}

td:last-child {
  text-align: right;
}
