@charset "utf-8";

// Define defaults for each variable.

$background-color: #f2f9f7;
$button-color: #00d3aa;
$button-text: #ffffff;
$button-active-color: #009f7e;
$mark-color: #ff7d55;


// Width of the content area
$content-width:    800px !default;
$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "scottylab/base";
