---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


$text: #999;
$text-dark: darken($text, 10%);


$custom-1-normal: #e80830;
$custom-2-normal: #e80830;
$custom-3-normal: #e80830;
$custom-4-normal: #e80830;
$custom-5-normal: #e80830;

$custom-1-dark: darken($custom-1-normal, 10%);
$custom-1-dark: darken($custom-2-normal, 10%);
$custom-1-dark: darken($custom-3-normal, 10%);
$custom-1-dark: darken($custom-4-normal, 10%);
$custom-1-dark: darken($custom-5-normal, 10%);

$custom-red-normal: $custom-1-normal;

$color-palette:
  $custom-1-normal,
  $custom-2-normal,
  $custom-3-normal,
  $custom-4-normal,
  $custom-5-normal;

// Convert Liquid list to Sass list
$nav-pages: {% for p in site.nav_pages %}{{ p.title }},{% endfor %};


@import
  "base",
  "pygments-monokai"
;
